.alert {
	position: relative;
	display: block;
	clear: both;
	margin: 0 0 $spacer;
	padding: 1em 1em 1em 4em;
	border-top-width: .25em;
	border-top-style: solid;
	border-right: 1px solid $grey;
	border-bottom: 1px solid $grey;
	border-left: 1px solid $grey;
	background-color: $white;
	text-align: left;
	font-size: rfs(.9rem);

	&:last-child {
		margin-bottom: 0;
	}

	&::before {
		position: absolute;
		top: 0;
		left: 1em;
		display: block;
		padding-top: 1em;
		width: 1.5em;
		height: 2.5em;
		color: $white;
		content: '';
		text-align: center;
		font-size: rfs(1rem);
		font-family: sans-serif;
		line-height: 1.5;
	}
}

.alert-info {
	border-top-color: $s-d;
	color: $s-d;

	&::before {
		background-color: $s-d;
		color: $white;
		content: 'i';
		font-style: italic;
		font-family: Times, Georgia, serif;
	}
}
