@use 'sass:math';

@use 'variables' as *;
@use 'toolkit' as *;
@use 'include-media' as *;

.btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	line-height: 1.15;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: all .15s ease-in-out;
}

.btn-solid {
	padding: .5em .75em;
	border-radius: $border-radius;
	background-color: $s;
	color: $white;

	&:hover {
		background-color: $s-d;
	}
}