@use 'sass:math';

@use 'variables' as *;
@use 'toolkit' as *;
@use 'include-media' as *;

.site-container {
	margin-bottom: ($spacer * 2);
}

.home-section {
	min-height: 100vh;
	padding-top: ($spacer * 3);

	&:first-child {
		padding-top: ($spacer * 4.5);
	}

	> .wrap {
		@include wrap;
		max-width: 50em;
	}

	header {
		margin-bottom: $spacer;
	}

	h2 {
		margin-bottom: 0;
		padding-left: 1rem;
		transform: translateX(-1.5rem);
		border-left: .5rem solid $s;
		font-size: rfs(2rem);
	}
}

@include media('<=portrait') {
	.home-section {
		min-height: 0;

		h2 {
			transform: none;
		}
	}
}

.home-section-content {
	a {
		color: $s;

		&:hover {
			color: $s-d;
		}
	}

	ol,
	ul {
		@include type;
		padding-left: 1.5em;
		overflow: hidden;

		li {
			margin-bottom: .25em;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	blockquote {
		margin: 0 auto $spacer;
		padding: 1em;
		border-radius: $border-radius;
		background-color: $grey;

		&.testimonial {
			div[itemprop='reviewBody'] {
				margin-bottom: $spacer;
			}
		}
	}
}