@use 'sass:math';

@use 'variables' as *;
@use 'toolkit' as *;
@use 'include-media' as *;

.field-row {
	display: flex;
	margin-bottom: math.div($spacer, 2);

	.field {
		flex: 1 1 0;

		+ .field {
			margin-left: $spacer;
		}
	}
}

.field {
	> label {
		display: block;
		margin-bottom: .25em;
		font-weight: bold;
	}

	> p {
		margin-top: .25em;
		color: rgba($text, .75);
		font-style: italic;
		font-size: rfs(.75rem);
		line-height: 1.25;
	}
}