@use 'sass:math';

@use 'variables' as *;
@use 'toolkit' as *;
@use 'include-media' as *;

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

// Remove the gap between images, videos, audio and canvas and the bottom of their containers: h5bp.com/i/440
audio,
canvas,
img,
video {
	vertical-align: middle;
}

figure {
	margin: 0;
}

figcaption {
	@include type;
	margin: 0;
	text-align: center;
}

.aligncenter {
	display: block;
	margin: 0 auto $spacer;
}

.alignleft {
	max-width: 40%;
	margin: 0 $spacer $spacer 0;
	float: left;
}

.alignright {
	max-width: 40%;
	margin: 0 0 $spacer $spacer;
	float: right;
}