@use 'sass:math';

@use 'variables' as *;
@use 'toolkit' as *;
@use 'include-media' as *;

@keyframes sk-bouncedelay {

	0%,
	80%,
	100% {
		transform: scale(0);
	}

	40% {
		transform: scale(1.0);
	}
}

.spinner {
	width: 4em;
	margin: ($spacer * 2) auto;
	text-align: center;

	> div {
		display: inline-block;
		width: 1em;
		height: 1em;
		border-radius: 100%;
		background-color: $p;
		animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}

	.bounce1 {
		animation-delay: -.32s;
	}

	.bounce2 {
		animation-delay: -.16s;
	}
}

.projects-nav {
	max-width: 42em;
	margin-right: auto;
	margin-bottom: $spacer;
	margin-left: auto;
	padding-bottom: $spacer;
	border-bottom: 1px solid $grey;
	text-align: center;
}

.projects-nav-type {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: .25em;

	&:last-child {
		margin-bottom: 0;
	}

	span {
		display: block;
		width: 10em;
		margin-right: math.div($spacer, 2);
		font-weight: bold;
		font-size: rfs(.9rem);
		text-align: right;

		&:after {
			content: ':';
		}
	}

	.btn {
		margin-right: math.div($spacer, 2);
		margin-bottom: .25em;
		background-color: transparent;
		color: $p;
		font-size: rfs(.9rem);

		&:hover {
			background-color: transparent;
		}

		&.active {
			background-color: $s;
			color: $white;
		}
	}
}

@include media('<portrait') {
	.projects-nav-type {
		justify-content: center;

		span {
			width: 100%;
			margin-right: 0;
			margin-bottom: .25em;
			text-align: left;
		}
	}
}

.projects-list {
	grid-gap: .5em;
	display: grid;

	grid-template-columns: 1fr 1fr 1fr;
}

@include media('<portrait') {
	.projects-list {
		grid-template-columns: 1fr 1fr;
	}
}

@include media('<=phone') {
	.projects-list {
		grid-template-columns: 1fr;
	}
}

.project {
	text-align: center;

	a {
		display: block;
		padding: .5em;
		border: 1px solid $grey;
		border-radius: $border-radius;
		color: inherit;
		text-decoration: none;

		&:hover {
			border-color: $s-d;
		}
	}

	img {
		margin-bottom: .5em;
		border: 1px solid $grey;
		border-radius: $border-radius;
	}

	h3 {
		margin-bottom: 0;
		font-size: rfs(.9rem);
	}
}