@use 'sass:math';

@use 'variables' as *;
@use 'toolkit' as *;
@use 'include-media' as *;

.home-section-testimonials {
	&.open {
		.additional-testimonials {
			display: block;
		}

		.btn {
			display: none;
		}
	}
}

.additional-testimonials {
	display: none;
}