html {
	scroll-behavior: smooth;
	scroll-padding-top: 3.25em
}

body {
	fill: $text;
	background-color: $grey-light;
	color: $text;
	font-weight: 300;
	font-family: $sans;
	scroll-behavior: smooth;
}

::selection {
	// text-shadow: none;
}

a {
	text-decoration: underline;
	transition: all .15s ease-in-out;

	&:hover {
		text-decoration: none;
	}
}

ol,
ul {
	@include unstyled-list;
}

p {
	@include type;
}

b,
strong {
	font-weight: 700;
}
