
	<footer class="site-footer">
		<div class="wrap">
			<div class="left">
				<p><a href="mailto:hello@cdbtech.com">hello@cdbtech.com</a></p>
			</div>

			<div class="right">
				<p>&copy; {{ now.Year }} – {{ .Site.Params.companyName }}</p>
			</div>
		</div>
	</footer>

	{{ if eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.14/vue.js" integrity="sha512-pzaIT4M4pWutHYv8yQrtkMtHBB17qXE6LnS7d9R6oiGQ+zApGM1T+ADe+J9borsHmdMGB3JHhfDsdkavD876nQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script defer src="{{  $.Site.BaseURL }}build/js/scripts.js"></script>
	{{ else }}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.14/vue.min.js" integrity="sha512-BAMfk70VjqBkBIyo9UTRLl3TBJ3M0c6uyy2VMUrq370bWs7kchLNN9j1WiJQus9JAJVqcriIUX859JOm12LWtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script defer src="/build/js/scripts.min.js?v={{ readFile "/static/build/js/scripts.min.js" | md5 }}"></script>
	{{ end }}
</body>
</html>