<div class="nav-container">
	<div class="wrap">
		<div class="site-title"><h1>CDBTech, LLC</h1></div>

		<nav id="site-navigation" class="site-navigation">
			{{ range (where (where .Site.Pages "Weight" "gt" 0) "Type" "eq" "page") }}
				<a href="{{ .Site.BaseURL }}#{{ .Title | urlize }}" rel="nofollow" data-scroll data-section="{{ .Title | urlize }}">
					{{ .Title }}
				</a>
			{{ end }}
		</nav>

		<button type="button" id="toggle-nav-menu" class="btn toggle-nav-menu">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
				<path d="M442 114H6a6 6 0 0 1-6-6V84a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6z"/>
			</svg>
			<span>Menu</span>
		</button>
	</div>
</div>